
<div class="col" style="padding :0; margin:0;position:relative;height:100vh;border:10px solid black;" [class.s8]="!collapseSide" [class.s12]="collapseSide" id="canvasBox">
    <button style="width:1px;height:1px; left:-200px;top:-200px;position:absolute;" id="hiddenBox">a</button>
    <canvas id="bgLowTileLayer" width="320" height="224" class="game-canvas"></canvas>
    <canvas id="bgHighTileLayer" width="320" height="224" class="game-canvas"></canvas>
    <canvas id="lowTileLayer" width="320" height="224" class="game-canvas"></canvas>
    <canvas id="spriteLayer" width="320" height="224" class="game-canvas"></canvas>
    <canvas id="highTileLayer" width="320" height="224" class="game-canvas"></canvas>
</div>
<span style="position:absolute; font-size:2rem; color:white; right:5px; bottom:5px" *ngIf="collapseSide" (click)="collapse(false)"><<<</span>

<div class="col s4" style="padding :0; margin:0;height:100vh;position:relative;" *ngIf="!collapseSide">
    <div style="width:100%;background-color:white;height:100%;">
        <div class="row" style="padding :0; margin:0; height:100%; background-color: #81D4FA">


            <div class="col s9" style="padding :0; margin:0;position:relative; height:100%; display:flex;flex-flow:column nowrap;">
                <div style="flex: 1 0;width:100%; display:inline-flex;position:relative;font-size: 3.2rem;width:100%;background-color:#29B6F6; color:white;padding: 10px 10px 10px 30px;">
                    <span style="position:absolute;font-size:1rem; left:5px; top:5px" (click)="collapse(true)">>>></span>
                    <span>{{title}} <span style="font-size: 1.6rem;">{{loading?'loading...':''}}</span></span>
                </div>
                <level-selector *ngIf="selectedTabIndex==0" [layout]="this" style="flex:13 0;width:100%;display:inline-flex;"></level-selector>
                <!--<object-selector *ngIf="selectedTabIndex==1"  style="flex:13 0;width:100%;display:inline-flex;"></object-selector>-->
                <tiles *ngIf="selectedTabIndex==1"  style="flex:13 0;width:100%;display:inline-flex;"></tiles>
                <tile-piece *ngIf="selectedTabIndex==2"  style="flex:13 0;width:100%;display:inline-flex;"></tile-piece>
                <tile-chunk *ngIf="selectedTabIndex==3"  style="flex:13 0;width:100%;display:inline-flex;"></tile-chunk>
                <animated-tiles *ngIf="selectedTabIndex==4"  style="flex:13 0;width:100%;display:inline-flex;"></animated-tiles>
            </div>



            <div class="col s3" style="padding :0; margin:0;position:relative; ">
                <div *ngFor="let item of tabItems; let ind = index;"
                     style="display:flex;justify-content:center;align-items:center;padding:15px; color:white;"
                     (click)="tabClick(ind)"
                     [style.background-color]="ind==selectedTabIndex?'#29B6F6':'#81D4FA'">
                    <div>
                        <img style="display:block;image-rendering: pixelated;" width="94" height="94" [src]="item.image" >
                        <span style="text-align: center;">{{item.label}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


