<div draggable class="window" style="z-index: 10000; position: absolute;" [hidden]="!visible" [style.height]="'auto'" [style.left]="left" [style.top]="top">
   <div class="window-header">
       <h1 style="display:inline-block">{{windowTitle}}</h1>
       <div style="float: right;">
           <button (click)="minimize()" class="btn red" *ngIf="isMinimized">_</button>
           <button (click)="minimize()" class="btn" *ngIf="!isMinimized">_</button>
           <button (click)="close()" class="btn">X</button>
       </div>
   </div>

    <div class="inner-window" *ngIf="!isMinimized">
        <div [style.width]="width" [style.height]="height" style="overflow:scroll;">
            <ng-content></ng-content>
        </div>
    </div>
</div>
