<ul style="margin: 0; width:100%;overflow-y:scroll;">
    <div *ngIf="!levels" style="font-size:3rem;color:white;">
        Loading Levels
    </div>
    <li *ngFor="let level of levels">
        <a style="width:100%;height:50px; display:block;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    line-height: 50px;
    border:solid 1px #cccccc;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;" (click)="loadLevel(level)">{{ level.name }}</a>
    </li>
</ul>