<div style="width:100%; height:100%;">
    <div style="display:block; width:100%;height:40px;">
        <div style="display:inline-block; height:40px;width:39%;background-color: #dfe400;text-align:center;border:solid 1px #cccccc;" (click)="updateTiles(paletteIndex-1);">-</div>
        <div style="display:inline-block; height:40px;width:20%;background-color: #dfe400;text-align:center;border:solid 1px #cccccc;">{{paletteIndex}}</div>
        <div style="display:inline-block; height:40px;width:39%;background-color: #dfe400;text-align:center;border:solid 1px #cccccc;" (click)="updateTiles(paletteIndex+1);">+</div>
    </div>
    <ul style="margin: 0; width:100%; height:100%;overflow-y:scroll;">
        <li *ngFor="let tile of tiles">
            <div style=" display:block;background-color: #26a69a;text-align:center;border:solid 1px #cccccc; padding-bottom:20px">

                <div *ngFor="let tileItem of tile">
                    <div style=" display:block;background-color: #9da668;text-align:center;">
                        <img [src]="tileItem" style="width:256px;height:256px;"/>
                    </div>
                </div>

            </div>
        </li>
    </ul>
</div>